p {
  font-family: montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}
.condition {
  text-decoration: underline;
  cursor: pointer;
}
.body {
  font-size: 35px;
}
